$light: #FFFFFF;
$dark: #000000;
$error: #985E6D;

$primary_bg: #192231;
$primary_color: #FFFFFF;
$primary_light_bg: #494E6B;
$primary_light_color: #FFFFFF;
$secondary_bg: #985E6D;
$secondary_color: #FFFFFF;
$secondary_light_bg: #98878F;
$secondary_light_color: #FFFFFF;