@import 'styles/variables.scss';

.dependency-form {
  height: 40px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .select {
    flex: 1;
  }

  .text {
    margin: 0 10px;
  }

  .add-button {
    margin: 0 10px !important;
    background-color: $secondary_bg !important;
    color: $secondary_color !important;
  }

  .fit-button {
    padding: 8px !important;
    min-width: unset !important;
    background-color: $primary_light_bg !important;
    color: $primary_light_color !important;
  }
}

