@import 'styles/variables.scss';

.authorize-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(/images/home_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .button {
    width: 150px;
    height: 150px;
    background-color: $secondary_bg !important;
    color: $secondary_color !important;
    margin: auto;
    border-radius: 100%;
    border: 3px solid $secondary_color !important;
    box-shadow: 0 0 10px $secondary_color !important;
  }
}