$primary_bg: #1C2331;
$primary_color: #FFFFFF;
$secondary_bg: #3F729B;
$secondary_color: #FFFFFF;
$success_bg: #007E33;
$success_color: #FFFFFF;
$danger_bg: #D86464;
$danger_color: #FFFFFF;
$warning_bg: #FF8800;
$warning_color: #FFFFFF;
$info_bg: #0099CC;
$info_color: #FFFFFF;
$light: #FFFFFF;
$dark: #212121;